.profile {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin-top: 100px;
  .ant-divider-horizontal.ant-divider-with-text::after,
  .ant-divider-horizontal.ant-divider-with-text::before {
    border-top: 1px solid rgba(0, 0, 0, 0.4);
  }
  .inp-label {
    text-align: right;
  }
  .login-content {
    background-color: #fff;
    width: 100%;
    color: #333;
    display: flex;
    .login-form-wrapper {
      box-shadow: 0px 2px 31px -2px rgba(170, 170, 170, 1);
      border-radius: 10px;
      padding: 30px;
      .login-title {
        font-size: 28px;
        margin-bottom: 30px;
      }
      .login-form {
        text-align: right;
        .login-inp {
          margin-bottom: 20px;
          border-radius: 5px;
          border: none;
          color: #777;
          text-align: left;
        }
        .error-inp {
          border-color: #ff4d4f;
          border-top-color: rgb(255, 77, 79);
          border-right-color: rgb(255, 77, 79);
          border-bottom-color: rgb(255, 77, 79);
          border-left-color: rgb(255, 77, 79);
          box-shadow: 0 0 0 2px rgba(255, 77, 79, 0.2);
        }
        .login-btn {
          margin-bottom: 10px;
          border-radius: 5px;
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .profile {
    .login-form {
      text-align: left !important;
    }
    .inp-label {
      font-size: 14px;
      text-align: left;
    }
  }
}
